nav {
  margin-top: 80px;
}

section {
  margin: -51px 0px 0px 100px;
}

article {
  display: inline-block;
  width: 420px;
  height: 485px;
  margin-left: 52px;
  margin-top: 135px;
  overflow: hidden;
}

.menu-list {
  list-style: none;
  margin: 0px 0px 0px 215px;
  padding: 0px;
}

li {
  display: inline-block;
  padding-left: 100px;
}

.menu-list a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  text-transform: uppercase;
}

.img {
  width: 100%;
}

.menu-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #b4ad9e;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 29px;
}

.img-name {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 36px;
  color: #626262;
  font-weight: normal;
  margin: 19px 0px 28px 0px;
}

.text {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

.button-load-more {
  padding: 20px 30px;
  background: #fff;
  border-color: #000;
  font-size: 20px;
  line-height: 24px;
  font-family: "Playfair Display", serif;
  color: #626262;
  border-width: 1px;
  display: block;
  margin: 46px 0px 72px 410px;
}
