* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.head {
  position: relative;
  height: 540px;
  padding-top: 20px;
  background-image: url(../img/Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /**/
  background-size: auto 100%;
  margin-bottom: 70px;
  text-align: center;
}

.head::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(26, 25, 21, 0.15);
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 116px;
}

.menu-item {
  padding: 10px 16px;
}

.menu-item:nth-child(2) {
  border: 2px solid #fff;
  border-radius: 20px;
}

.text-style {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.menu-link {
  font-size: 14px;
}

.logo {
  font-size: 0;
  text-align: center;
  padding-bottom: 26px;
}

.logo-link {
  font-size: 20px;
}

.head-name {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 40px;
  padding-bottom: 24px;
}

.head-name-description {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 21px;
  font-size: 18px;
  padding: 4px 20px 0;
  text-transform: none;
}

.link-partner {
  font-size: 14px;
  padding: 12px 25px;
  background-color: #ff4e50;
  border-radius: 30px;
}

.team {
  text-align: center;
  margin-bottom: 30px;
}

.team-partner {
  margin-bottom: 28px;
}

.team-name,
.partner-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #333333;
  text-align: center;
  margin-bottom: 18px;
}

.partner-name {
  font-size: 14px;
  margin-bottom: 16px;
}

.partner-about {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  text-align: center;
  padding: 0 40px;
}

.wrap-img {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 18px;
}

.social-icon {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  border: 3px solid #fff;
  border-radius: 36px;
  bottom: 0;
  right: 0;
}

.social-icon-hunter {
  background-image: url(../img/icon-1.png);
  background-color: #ff4e50;
}

.social-icon-Marsha {
  background-image: url(../img/icon-3.png);
  background-color: #ffa507;
}

.social-icon-Walker {
  background-image: url(../img/icon-2.png);
  background-color: #1cd7ad;
}

.social-icon-hunter-2 {
  background-image: url(../img/icon-4.png);
  background-color: #4e73db;
}

.link-other-partners {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ff4e50;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 28px;
  border: 2px solid #ff4e50;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .head-container {
      padding-bottom: 150px;
  }
  .head {
      height: 700px;
  }
  .menu {
      padding-bottom: 0;
  }
  .logo {
      padding-bottom: 0;
  }
  .head-name {
      font-size: 52px;
      line-height: 65px;
      padding-bottom: 50px;
  }
  .head-name-description {
      padding-top: 34px;
      font-size: 24px;
  }
  .team-name {
      margin-bottom: 34px;
  }
  .partner-about {
      padding: 0;
  }
  .wrap-article {
      padding-bottom: 34px;
  }
}