* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  margin-top: 36px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: #555252;
  float: left;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu-links > ul {
  list-style: none;
}

.link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  letter-spacing: -0.6px;
}

ul:first-child {
  color: #1abc9c;
}

.menu-links > ul > li {
  float: right;
}

.name-section {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  color: #555252;
  text-align: center;
}

.name-section::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin: 28px auto 80px;
}

.product,
.news {
  width: 255px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product:nth-of-type(4n) {
  margin-right: 0;
}

.product:nth-last-of-type(-n+4) {
  margin-bottom: 100px;
}

.product-img {
  float: left;
}

.product-name,
.product-price {
  box-sizing: border-box;
  float: left;
  height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
}

.product-name {
  width: 201px;
  background-color: #323232;
  padding-left: 14px;
}

.product-price {
  width: 54px;
  background-color: #8c8c8c;
  text-align: center;
}

.product:hover > .product-name {
  background-color: #1abc9c;
}

.product:hover > .product-price {
  background-color: #7fd9c7;
}

.news {
  width: 350px;
  margin-bottom: 50px;
}

.news:nth-of-type(3n) {
  margin-right: 0;
}

.news-name,
.news-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
}

.news-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.news-name::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin: 11px 0 24px;
}
