* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  margin-top: 36px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: #555252;
  float: left;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu-links > ul {
  list-style: none;
  
}


.link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 11px;
  letter-spacing: -0.6px;
}

ul:first-child {
    color: #1abc9c;
}


.menu-links > ul > li {
    float: right;
}
