* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.head {
  padding-top: 36px;
  padding-bottom: 100px;
}

.logo {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: #555252;
}

.logo a {
  text-decoration: none;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

/* Menu */
.menu-links {
  float: right;
  width: 470px;
  margin-top: 8px;
}

.menu-links li {
  list-style: none;
  float: left;
  margin-right: 32px;
}

.menu-links li:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  /* line-height: 11px; */
  letter-spacing: -0.6px;
  display: block;
}

.menu-links li:hover .link {
  color: #1abc9c;
}

/* Main */
.name-section {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  color: #555252;
  text-align: center;
  margin-bottom: 80px;
}

.name-section::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin: 28px auto 0;
}

.product,
.news {
  width: 255px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product:nth-of-type(4n) {
  margin-right: 0;
}

.product-img {
  float: left;
}

.product-section {
  margin-bottom: 100px;
}

.product-name,
.product-price {
  box-sizing: border-box;
  float: left;
  height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
}

.product-name {
  width: 201px;
  background-color: #323232;
  padding-left: 14px;
}

.product-price {
  width: 54px;
  background-color: #8c8c8c;
  text-align: center;
}

.product:hover > .product-name {
  background-color: #1abc9c;
}

.product:hover > .product-price {
  background-color: #7fd9c7;
}

.news {
  width: 350px;
}

.news:nth-of-type(3n) {
  margin-right: 0;
}

.news-img {
  margin-bottom: 10px;
}

.news-name,
.news-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
}

.news-name {
  margin-bottom: 24px;
}

.news-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.32px;
  margin-bottom: 8px;
}

.news-name::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin-top: 11px;
}

.read-more {
  display: block;
  height: 50px;
  width: 160px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  background-color: #4ec6ab;
  border: none;
  border-radius: 3px;
}

.read-more:hover {
  background-color: #95ecd9;
  color: #369ea1;
}
